<!DOCTYPE html>
<html>

<head>
<title>Leaderboard</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
<h2>Leaderboard</h2>

<table border="1">

<thead>
<tr>
<th>Rank</th>
<th>Name</th>
<th>Points</th>
<th>Badge</th>
</tr>
</thead>

<tbody id="leaderboard"></tbody>

</table>

<script>

fetch("/users/leaderboard")
.then(response => response.json())
.then(data => {

    let html = "";

    data.forEach((user,index)=>{

        html += "<tr>";

        html += "<td>"+(index+1)+"</td>";
        html += "<td>"+user.name+"</td>";
        html += "<td>"+user.points+"</td>";
        html += "<td>"+user.badge+"</td>";

        html += "</tr>";

    });

    document.getElementById("leaderboard").innerHTML = html;

});

</script>
</div>
</body>

</html>